@import '../scss/const';

.root {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > p {
        font-size: 0.8rem;
    }
}
