@import '../scss/const';

.search {
    padding: 0.5rem 0 0rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 90% !important;
    max-width: 400px;
    z-index: 10000;
    background-color: white;
}

.toggle {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    z-index: 10000;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
}

.routes {
    position: fixed;
    right: 1rem;
    bottom: 10rem;
    z-index: 10000;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
}

.wind {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: #797e83;
}
