import React from 'react'
import styles from './{{filename}}.module.scss'

interface Props {}

const {{filename}}: React.FC<Props> = () => {
    return (
        <div className={styles.root}>
            <h1>{{filename}}</h1>
        </div>
    )
}

export default {{filename}}
