@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import '../scss/const';

.root {
    color: $secondary-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 8rem 2rem;
}

.banner {
    width: 100%;
    max-width: 300px;
}

.moto {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 2rem;
    text-align: center;
}

.message {
    margin-top: 1rem;
    max-width: 500px;
    background-color: #ffc40075;
    border-left: 7px solid #ffc400;
    padding: 1.25rem 1.7rem;
}
